extends layout 

block content 

  if (!user) 
    h2 Welcome to #{title}
  if (user) 
    h2 |Welcome to #{title} &nbsp; small #{user.username}
    hr 
  div.jumbotron 
    if (!user) 
      a(href="/login") Login 
      br 
      a(href="/register") Register 
    if (user) 
      p You are currently logged in as #{user.username} 
      a(href="/logout") Logout 
